body{
    background-color: darkslategray;
}

.container{
    width:80%;
    margin:auto;
}

.title{
    background-color: white;
    color:black;

    text-align: center;

    border: 5px black solid;

    padding: 20px;

    margin-top: 20px;
    margin-bottom: 20px;
}

.navBar{
    text-align: center;
}

img{
    float: left;
    margin: 20px;
    border: 5px black solid;
}