html{
    /*background-image: url("../images/showcase.png")*/
    background-color: darkslategray;
}

body{
    margin:0;
    padding:0;
}

a{
    float:right;
    width: 10%;
    position: relative;
    top: 30px;
    text-align: center;
    font-size: 20px;
    border-left:1px solid black;
    margin: 10px 10px 10px 10px;
    background-color: white;
}

.content{
    width:960;
    margin:0 auto;
}

.upper-lip{
    height:100px;
    background-color:white;
    margin:0;
    padding:0;
    border-bottom:2px solid black;
}

.lower-lip{
    height:100px;
    background-color:white;
    margin:0;
    padding:0;
    text-align:center;
    border-top:8px solid black;
}

.box-1{
    background-color:#4aaaa5;
    color:white;
    height:80px;
    text-align: center;
    margin-left:425px;
    margin-right:425px;
    font-size: 18px;
    float:left;
    padding:10px
}